/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.article-journal {
	margin: 0 auto;
	max-width: 740px;
}

body article header.journal-header {
	position: relative;
	max-width: 640px;

	img {
		object-fit: fill;

	}
}

.journal-title a {
	background: #248A83;
	position: absolute;
	top: 40px;
	left: 0;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 34px;
	width: 450px;
	padding: 5px 20px;
}

.journal-meta {
	position: absolute;
	background: #248A83;
	bottom: 7px;
	right: 0;
	color: white;
	padding: 2px 30px;
	margin: 0;
}

.journal-content {
	max-width: 640px;
	text-align: justify;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}